<?xml version="1.0"?>
<configuration>
  <startup>

    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/>
  </startup>
  <connectionStrings>
    <add name="amc_userConnectionString" connectionString="Data Source=H-HEMMDB;Initial Catalog=HEMM;"/>
  </connectionStrings>
  <appSettings>
    <add key="leftOffset" value="-80"/>
    <add key="topOffset" value="-60"/>
    <add key="leftMarginCol2" value="295"/>
    <add key="leftMarginCol3" value="575"/>

    <add key="basePath" value="base"/>
    <add key="fileName" value="rsrc.txt"/>
    <add key="logFile" value="AHLPlog.txt"/>
    <add key="logFilePath" value="\\lapis\h_purchasing$\Purchasing\PMM IS data\Reference Logs\HEMMApps\AdHocLabelPrinting\hmc\"/>
  </appSettings>
  <!--to compile for x86 (XP):  Project Properties / Application - change target framework - - - - then Build - Platform Target = Any cpu (or x86)
providerName="System.Data.SqlClient Persist Security Info=True intelliweb 1$4web*-->
</configuration>
